/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* App custom css */

#colors {
	primary: #d32f2f;
	primary-light: #ff867c;
	primary-dark: #b61827;
}
html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    background-color: #fff; 
	background-image: 
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

img {
	background-image: url('loader.gif');
	max-height: 400px;
}

code {
	color: #b61827;
}

a { 
	color: #b61827;
}

h1 { 
	font-family: 'Special Elite', cursive;
}

h1, p {
	color: #333333;
	margin-bottom: 0px;
}

i { 
	color: #b61827;
}

#mc_embed_signup{
	clear: left; 
	width: 100%;
}

#mc_embed_signup input {
	font-family: inherit;
	font-size: inherit;
}

#mc_embed_signup .clear .button {
    color: #fff;
	font-family: inherit;
	font-size: inherit;
    background-color: #b61827;
    border-color: #b61827;
}

#subtitle .wisdom {
	color: #333333;
	font-family: 'Times', cursive;
	font-size: large;
}

#subtitle .btn {
    color: #fff;
    background-color: #b61827;
    border-color: #b61827;
}

#frame img {
  border: 15px solid #3e2b14;
  padding: 10px;
  background: black;
}

#quote {
	max-width: 80%;
}

#quote h2 {
	font-weight: bold;
}

#next-button .btn {
    color: #fff;
    background-color: #b61827;
    border-color: #b61827;
}

#title {
	background-color: #fff;
}

#michaelContainer {
	min-height: 100%;
}

#email-box-input {
	max-width: 600px;
}

#email-box {
	background-color: #adadad;
}

/* Mobile */

@media (max-width: 480px) { 	
	#title h1 {
		font-size: 24px
	}
    #quote h2 {
       font-size: 20px;
       text-align: center;
    }
}