{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Michael Bot Paper Company{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    
    <!-- Latest compiled and minified Bootstrap 4 beta CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">

    <!-- This file stores project-specific CSS -->    
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115999842-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115999842-1');
    </script>
    {% endblock %}

  </head>

  <body>

    <div class="d-flex flex-column justify-content-between" id="michaelContainer">
      <div class="pt-3 pb-1 text-center" id="title">
          <h1>Michael Bot Paper Company*</h1>
      </div>
      <div class="pt-1 mx-auto text-center" id="subtitle">
        <div class="row">
          <div class="col py-1 my-auto">
            <div class="row">
              <div class="col-12 col-sm-auto mx-auto pr-1">
                <p>
                  <b>(</b>
                  <code>Machine learning</code>
                  <i class="fa fa-plus"></i>
                </p>
              </div>
              <div class="col-12 col-sm-auto mx-auto px-0">
                <p>
                  Michael Scott
                  <b>)</b>
                </p>
              </div>
              <div class="col-12 col-sm-auto mx-auto pl-1">
                <i class="fa fa-arrow-right"></i>
                <i class="wisdom">Infinite Wisdom.</i>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-auto py-1">
            <button class="btn btn-sm" data-toggle="modal" data-target="#infoModal" type="button">(more info)</button>
          </div>
      </div>
      </div>
      
      <div class="col-12 col-md-10 pt-3 pb-1 mx-auto text-justify" id="quote">
        <h2 id="quoteText"></h2>
      </div>
      <div class="p-1 mx-auto" id="next-button">
        <button class="btn btn-lg" id="newQuote" type="button">Another insight? Yes please.</button>
      </div>
      <div class="p-1 mx-auto" id="frame">
        <img class="img-fluid" id="michaelPic" src="{% static 'images/mscott1.jpeg' %}">
      </div>

      <div class="py-3 my-3 mx-0 text-center" id="email-box">
        <div class="row mx-auto">
          <div class="col" id="email-box-text">
            <h5>Want Michael Scott ML-Generated wisdom sent to your inbox? Enter your email here.</h5>
          </div>
        </div>
        <div class="row mx-auto">
          <div class="col mx-auto input-group" id="email-box-input">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup">
              <form action="https://stolson.us12.list-manage.com/subscribe/post?u=16252f84849cbd6dab3bc02a3&amp;id=de707c52e0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="holly@dundermifflin.sabre" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_16252f84849cbd6dab3bc02a3_de707c52e0" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="py-3 p-1 mx-auto" id="coffee-button">
        <a href="https://www.buymeacoffee.com/fQGd5AtCW" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/yellow_img.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;" ></a>
      </div>

      <div class="p-0 my-0 mx-auto d-flex justify-content-center" id="social">
        <div class="col-auto">
          <a href="http://www.twitter.com/st0lson"/><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-auto">
          <a href="http://www.github.com/stolson"/><i class="fa fa-github"></i></a>
        </div>
        <div class="col-auto">
          <a href="http://www.gitlab.com/stolson1"/><i class="fa fa-gitlab"></i></a>
        </div>
        <div class="col-auto">
          <a href="mailto:steve@stolson.com"/><i class="fa fa-envelope"></i></a>
        </div>
        <div class="col-auto">
          <a href="http://www.stolson.com"/><i class="fa fa-globe"></i></a>
        </div>
      </div>
      <div class="p-0 my-2 mx-auto text-center align-self-end" id="disclaimer">
        <div class="col">
            <p><small>*This site is not associated with NBC, NBCUniversal, or NBC's The Office. We're just fans.</small></p>
        </div>
      </div>
    </div>

    {% include 'pages/info-modal.html' %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
          
      <!-- Required by Bootstrap v4 beta -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="https://use.fontawesome.com/796efe771c.js"></script>

      <!-- place project specific Javascript in this file -->      
      <script src="{% static 'js/project.js' %}"></script>
      <script type="text/javascript">
        var quotes  = JSON.parse("{{ quotes | escapejs }}").quotes;
      </script>


    {% endblock javascript %}
  </body>
</html>
 
