{% block modal %}

<div class="modal fade contact-modal-lg" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="contactModalLabel">Michael Scott and Machine Learning</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-left">
        <p>This site was inspired by the rumors of an Office reboot (I have no knowledge of whether or not that's true) and since his role has concluded, so we have to make his lines for him. I'm not much of a comedy writer, so I built this.</p>
        <br>
        <p>The processing under the hood is done with Natural Language Toolkit and Markov Chains with Backoff. Inspiration and some code is <b><a href="https://blog.dataiku.com/2016/10/08/machine-learning-markov-chains-generate-clinton-trump-quotes">here</a></b>. The source code of the site is <b><a href="https://www.gitlab.com/stolson1/mgscott">here</a></b>. Check the readme on how to generate your own quotes. I generated a lot and filtered them down to the ones I liked the most.</p>
        <br>
        <p>To keep updated on my new projects (maybe there will be a Dwight one!) you can add your email here. I promise no spam, no bullshit.</p>
        <div class="mx-auto py-3 input-group" id="email-box-input">
          <input type="text" class="form-control" placeholder="hi@stolson.com" aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <button class="btn btn-info" type="button">Sign Up</button>
          </div>
        </div>
        <p>You can reach me at <a href="stolson.com">stolson.com</a>. Keep in mind this is just a fan site. It's not affiliated in any way with the show or its affiliates.</p>
      </div>

    </div>
  </div>
</div>

{% endblock %}